:root {
  --primary-gray: #f5f7fa;
}

.wrapper {
  padding: 10px;
  height: calc(100vh - 100px);
  /* 总体设置背景
  若进一步追求精致，这里不做设置 */
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.08);
}

.wrap-content {
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
}

.divider {
  margin: 0.5em auto;
  height: 1px;
  background-color: #cdcdcd;
}

.search-form {
  position: sticky;
  top: 0;
  /* 需要大于4(element中复制的操作栏为4) */
  z-index: 9;
  border-bottom: 1px solid #eee;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 6px 6px 3px #fff;
}

.search-form .el-form-item {
  margin-top: 10px;
  margin-bottom: 10px;
}
