.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.divider {
  margin: .5em auto;
  height: 1px;
  background-color: #cdcdcd;
}

.wrap-content {
  padding: 6px 8px;
  background-color: #fff;
}
