body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", Tahoma, "Hiragino Sans GB", "Heiti SC", Arial, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  > li {
    list-style-type: none;
  }
}

h1 {
  font-size: 20px;
  line-height: 1.5;
}

.menu-wrap {
  margin: 1em;
  > .menu-item {
    display: inline-block;
    margin-right: 1.5em;
    margin-bottom: .5em;
    vertical-align: top;
  }
}
